.button {
  padding: 0.6em 1.8em;
  font-size: 15;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  color: #ffffff;
  font-family: var(--font-two);
  background-color: #2e427a;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

.button:hover {
  background-color: #212f57;
  box-shadow: 0px 15px 20px rgba(24, 38, 100, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.button:active {
  transform: translateY(-1px);
}