.footer {
    background: #079cbc;
    color: white;
    padding: 5px 20px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    font-family: 'Raleway', sans-serif;
}   

.footer h4 {
    text-align: center;
    font-family: var(--font-one);
}