@import "/styles/variables.css";

.section {
    max-width: 800px;
    margin: 20px auto;
    background: var(--white);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
    box-shadow: 5px 10px #888888;
}

.section h2 {
    color: var(--primary-color);
    border-left: 5px solid var(--accent-color);
    padding-left: 15px;
    margin-top: 0;
}

.section p {
    margin-bottom: 15px;
}

.section strong {
    color: black;
}

.section:hover{
    transform: translateY(-2px);
}