@import "/styles/variables.css";

.section {
    max-width: 800px;
    margin: 20px auto;
    background: var(--white);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
    box-shadow: 5px 10px #b2b2b2;
    font-family: quick-sand, sans-serif;

    display: flex;
    align-items: center;
    gap: 30px;
}

.section h2 {
    color: #079cbc;
    border-left: 5px solid var(--accent-color);
    padding-left: 15px;
    margin-top: 0;
    position: relative;
    margin-bottom: 1.8rem;
    font-style: italic;
}

.section p {
    margin-bottom: 20px;
    line-height: 1.5rem;
}

.section strong {
    color: black;
}

.section:hover{
    transform: translateY(-2px);
}

.section-content {
    flex: 1;
}

.section-image{
    flex-shrink: 0;
}

.section-image img {
    width: 280px;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}