section {
    display: flex;
    justify-content: center;
    padding: 20px;
}

section > div {
    max-width: 900px;
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.1);
}

section h3 {
    margin-bottom: 10px;
    color: var(--red-main);
    font-size: 1.5rem;
}

section p {
    margin-bottom: 10px;
    font-size: 1.05rem;
    text-align: justify;
}