.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    background: #079cbc;
    color: var(--white);
    padding: 1.8rem;
    display: flex;
    align-items: center;
    

    box-shadow: 0 4px 10px rgba(0,0,0,0.1);

    z-index: 1000;
}

.header h1 {
    margin: 0;
    flex-grow: 0.96;
    font-family: raleway, sans-serif;
    font-weight: 16px;
}

.header nav  {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}