:root {
    --primary-color: #131f50;
    --secondary-color: #b21f1f;
    --accent-color: #ff8800;
    --bg-color: #f4f7f6;
    --text-color: #333;
    --white: #ffffff;
    --font-one: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    --font-two: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}