:root {
    --primary-color: #131f50;
    --secondary-color: #b21f1f;
    --accent-color: #ff8800;
    --white: #ffffff;
    --font-one: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    --font-two: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --red-main: #c11720;
    --dark: #1a1a1a;
    --light-gray: #f5f5f5;
    --white: #ffffff;

}